{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}


<div>
    <p>Login</p>
    <hr/>
    <form method="POST" action="{% url 'app:login' %}" autocomplete="off">
        {% csrf_token %}

        {% for field in form %}
        <div class>
            <label>{{ field.label_tag }}</label>
            {{ field.errors }}
            {% render_field field placeholder=field.name %}
        </div>
        {% endfor %}
        
        <button type="submit">Login</button>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    </form>
</div>

{% endblock content %}